extends base.pug


block content 
  
  
    h1 #{tableTitle}
      
      for user in userList 
          ul
             li= user.user_id
             li 
               img a(href="../public/profileimg")
             li  = user.user_name   